.mouseContainer {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  color: #111;
}

.mouseOutline {
  width: 30px;
  height: 50px;
  border: 2px solid #111;
  border-radius: 20px;
  position: relative;
}

.mouseDot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #111;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.scrollText {
  font-size: 12px;
  margin-top: 10px;
  letter-spacing: 1px;
  color: #111;
}
