.contactList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.contactItem {
  display: flex;
  align-items: center;
  max-width: 75%;
  padding: 2rem 3rem;
  margin-bottom: 2rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.contactItem:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.contactIcon {
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactLabel {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  color: #666;
}

.contactValue {
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  word-break: break-all;
}

.contactValue:hover {
  text-decoration: underline;
  color: #007bff;
}

/* ==========반응형 css========== */
@media screen and (max-width: 1000px) {
  .contactItem {
    max-width: 100%;
  }
}
/* //==========반응형 css========== */
