.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  max-width: 855px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: left;
}

.modalHeader {
  padding: 3rem 3rem 0 3rem;
}

.modalDescription {
  padding: 0 3rem 3rem 3rem;
}

.closeButton {
  position: absolute;
  top: 3rem;
  right: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  /* width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center; */
  transition: all 0.3s ease;
}

.closeIcon {
  font-size: 2.25rem;
  line-height: 1;
  transition: all 0.3s ease;
}

.closeButton:hover .closeIcon {
  color: var(--accent);
  transform: scale(1.1);
}

.modalTitle {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.modalDate {
  font-size: 1.5rem;
}

.modalDescription {
  font-size: 1.52rem;
}

.modalImageWrap {
  width: 100%;
  height: 100%;
  max-height: 500px;
  margin-top: 2rem;
  overflow-y: scroll;
}

.modalImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .modalContent {
    padding: 1.5rem;
  }

  .modalTitle {
    font-size: 1.5rem;
    padding-right: 2.5rem;
  }

  .modalDate {
    font-size: 1rem;
  }

  .closeButton {
    top: 0.8rem;
    right: 0.8rem;
    width: 35px;
    height: 35px;
  }

  .closeIcon {
    font-size: 1.3rem;
  }
}
