.mouseContainer {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  color: #111;
}

.lottieContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.scrollText {
  font-size: 12px;
  margin-top: 20px;
  letter-spacing: 1px;
  color: #111;
  font-weight: 500;
}

/* ==== 반응형 css ==== */
@media (max-width: 1024px) {
  .mouseContainer {
    bottom: 3%;
  }
  .lottieContainer {
    transform: scale(0.9);
  }
  .scrollText {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  .mouseContainer {
    bottom: 3%;
  }
  .lottieContainer {
    transform: scale(0.8);
  }
  .scrollText {
    font-size: 10px;
  }
}
/* ==== //반응형 css ==== */
