* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --nav-text-color: #000;
}

/* 폰트 최적화 설정 (woff2만 사용) */
@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"),
    url("/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: local("Pretendard"), url("/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

/* 폰트 사전 로드 */
@media screen and (min-width: 768px) {
  :root::before {
    content: "";
    display: none;
    background-image: url("/fonts/Pretendard-Regular.woff2"),
      url("/fonts/Pretendard-Medium.woff2"),
      url("/fonts/Pretendard-SemiBold.woff2"),
      url("/fonts/Pretendard-Bold.woff2");
  }
}
