.cursor {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transform-origin: center;
  will-change: transform;
  transition: width 0.3s ease, height 0.3s ease;
}

/* 버튼, 링크 호버 시 커서 커지게 변경 */
.cursor.hovered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 1rem;
  background-color: #fff;
  pointer-events: none;
}

.clickText {
  display: none;
  font-size: 1.5rem;
  font-weight: 500;
}

.cursor.hovered .clickText {
  display: block;
}

@media screen and (max-width: 768px) {
  .cursor {
    display: none;
  }
}
