.cursor {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transform-origin: center;
  will-change: transform;
}

/* 버튼, 링크 호버 시 커서 커지게 변경 */
.cursor.hovered {
  background-color: #fff;
  pointer-events: none;
}
